<ion-header>
  <ion-toolbar class="background1">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-left">POLTRYKING</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" (click)="goToProfile();" style="font-size: 40px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-group" *ngFor="let item of postList">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">{{item.question_title}}</h5>
        <p class="card-text">{{item.question_desc}}</p>
      </div>
      <ng-container *ngIf="item.question_file === null; else elseblock">
        <img class="card-img-top" src="../../assets/placeholder.jpg">
      </ng-container>
      <ng-template #elseblock>
          <img class="card-img-top" src="{{path+item.question_file}}" >
      </ng-template>
      
      
    
      <!-- <div class="card-footer row">
        <div class="col-3 ">
          <ion-icon name="thumbs-up-outline"></ion-icon>

          Like
        </div>
        <div class="col-5 text-center pr-0" (click)="moveToFirst()">
          <ion-icon name="chatbubble-outline"></ion-icon>
          Comment
        </div>

        <div class="col-4 text-right">
          <ion-icon name="arrow-redo-outline"></ion-icon>
          Share
        </div>

      </div> -->
    </div>
    </div>
</ion-content>
