<ion-header>
  <ion-toolbar class="background1">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-left">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">

  <div class="row">
    <div class="col-md-12 mt-3 ml-3 mr-3">
      <div class="form-group">
        <label for="usr">Mobile Number:</label>
        <input type="tel" maxlength="10" [(ngModel)]="forgetMobile" class="form-control" id="usr" style="border-radius: 20px 20px 20px 20px">
      </div>
      <button type="submit" class="block mt-5 mb-5" style="border-radius: 20px 20px 20px 20px"
           (click)="sendOtp();">Send OTP</button>
    <div class="form-group">
            <div class="text-danger text-center">{{errorMsg1}}</div>
    </div>

      <span class="divider line one-line">or</span>
          
      <button type="submit" class="block btn-success" style="border-radius: 20px 20px 20px 20px"
      [routerLink]="['/login']">Canel</button>
    </div>
    </div>
</ion-content>
