.card {
    margin: 0 auto;

    .header {
        // height: 150px; // 20vh;

        .avatar {
            width: 160px; //40vw
            height: 100px;
            position: relative;
            margin: 0 auto;

        }
    }
    
    img {
        display: block;
        height: 100%;
        width: 100%;
        bottom: calc(-1*(80px + 4px)); // -42px;
        background-color: #fff;
    }
}

.card-body {
    background-color: #f5f5f5;
    padding: 0px 20px 0px 20px;
    // height: calc(100vh - (200px + 56px));
    overflow: hidden;

    .card{
        margin-bottom: 10px;
        padding: 5px;
    }
    .user-meta {

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
            text-align: left;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-align: left;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}

.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
  // background: url(../../assets/images/carousal-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  // background: url(../../assets/images/carousal-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
      height: 100%;
  }
}
