<ion-header>
  <ion-toolbar class="background1">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-left" >POULTRY KING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <div class="card" style="background-color: #f5f5f5;">
    <!-- *ngIf="buinessDetails.business_logo" -->
    <div class="header" >
      <ion-grid>
        <ion-row>

          <ion-col size="12">
      
            <ion-slides pager="false" style="height: 100px;" [options]="slideOptsTwo" #slideWithNav2
              (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
              <ion-slide *ngFor="let s of sliderTwo.slidesItems">
                <img src="{{s.image}}" (click)="openViewer(s.image)">
              </ion-slide>
            </ion-slides>
      
      
          </ion-col>

        </ion-row>
      </ion-grid>
        <!-- <img src="{{buinessDetails.PATH+buinessDetails.business_logo}}" alt=""> -->
    </div>
    <!-- <div class="header" *ngIf="!buinessDetails.business_logo">
      <img src="../../assets/logo.jpg">
    </div> -->
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername"><strong>{{buinessDetails.business_name}}</strong></h3>
          <p *ngIf="buinessDetails.is_verify === 'Verified'" style="color: green; text-align: left;">Verified</p>
          <p *ngIf="buinessDetails.is_verify !== 'Verified'" style="color: red; text-align: left;">Not Verified</p>
        <!-- <div class="card">Address :  {{buinessDetails.business_address}}</div>
         <div class="card">Mobile :{{buinessDetails.business_mobile1}} / {{buinessDetails.business_mobile2}}</div>
         <div class="card">EMail : {{buinessDetails.business_email}}</div>
         <div class="card">Website : {{buinessDetails.business_website}}</div>
         <div class="card">Working Hours : {{buinessDetails.working_hours}}</div>
         <div class="card">Working Days : {{buinessDetails.working_days}}</div>
         <div class="card">Date : {{buinessDetails.business_date}}</div>
        <h6 class="ranking">
        </h6> -->
      </div>

    </div>
  </div>
  <ion-list>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>
        {{buinessDetails.business_mobile1}} / {{buinessDetails.business_mobile2}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>
        {{buinessDetails.business_email}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="desktop-outline" slot="start"></ion-icon>
      <ion-label>
        {{buinessDetails.business_website}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>
        {{buinessDetails.business_email}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>
        {{buinessDetails.working_hours}} Days : {{buinessDetails.working_days}}
      </ion-label>
    </ion-item>
        <ion-item>
        
          <ion-icon name="bookmark-outline" slot="start"></ion-icon>
          <ion-label>
        
            <ng-container *ngFor="let item1 of buinessDetails.products_list;">
              {{item1.business_type}},
            </ng-container>
        
          </ion-label>
        </ion-item>
            <ion-item>
            
              <ion-icon name="bookmark-outline" slot="start"></ion-icon>
              <ion-label>
            
                <ng-container *ngFor="let item1 of buinessDetails.products_list;">
                  {{item1.product_category_name}},
                </ng-container>
            
              </ion-label>
            </ion-item>
    <ion-item>

      <ion-icon name="bookmarks-outline" slot="start"></ion-icon>
      <ion-label>
     
          <ng-container *ngFor="let item1 of buinessDetails.products_list;">
            {{item1.product_name}},
          </ng-container>
       
      </ion-label>
    </ion-item>

  </ion-list>  

</ion-content>