<ion-header>
  <ion-toolbar class="background1">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-left">POULTRY KING</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" (click)="goToProfile();" style="font-size: 40px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(sliderTwo,slideWithNav2)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderTwo.isBeginningSlide"></div>
        </span>
      </ion-col>
      <ion-col size="10">

        <ion-slides pager="false" style="height: 100px;" [options]="slideOptsTwo" #slideWithNav2
          (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
          <ion-slide *ngFor="let s of sliderTwo.slidesItems">
            <img src="{{s.image}}">
          </ion-slide>
        </ion-slides>


      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderTwo,slideWithNav2)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderTwo.isEndSlide"></div>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>

    <ion-row>
      <ion-col align-self-center>
        <span class="already">Welcom {{name}}</span>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size='6'>
        <ion-button (click)="goToPost('Questions')" style="--background:#4EBE85; --color:white;" expand="block">Ask
          Questions
        </ion-button>
      </ion-col>
      <ion-col size='6'>
        <ion-button (click)="goToPost('POST')" style="--background:#4EBE85; --color:white;" expand="block">Add Post
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-virtual-scroll [items]="postList" approxItemHeight="320px">
    <div class="card" *virtualItem="let item">
      <ion-card-header class="pb-0 pl-0">
        <ion-item > 
          <ion-avatar slot="start" *ngIf="item.app_user_img === null">
            <img src="../assets/logo.jpg">
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="item.app_user_img !== null">
            <img src="{{this.path+item.app_user_img}}">
          </ion-avatar>
          <ion-label class="ion-text-wrap" color="dark">
            <h3 style="font-weight: 500;">{{item.app_user_name}}</h3>
             <p > {{item.post_date}}</p>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <div class="card-body pl-2 pt-0 pb-1">
        <h5 class="card-title mb-0 mt-0 pt-1 pb-0">{{item.post_title}}</h5>
        <p class="card-text">{{item.post_desc}}</p>
      </div>
      <ng-container *ngIf="item.post_file === null && item.post_video_link == null">
        <img class="card-img-top" src="../../assets/placeholder.jpg">
      </ng-container>
      <ng-container *ngIf="item.post_file !== null">
        <img class="card-img-top" src="{{path+item.post_file}}">
      </ng-container>

      <ng-container *ngIf="item.post_video_link !== null && item.post_file === null" >
        <div class="youtube"  (click)="openvideo(item.post_video_link)"> 
 
          <div class="play-button"></div> 
           
      </div>
      </ng-container>


      <div class="card-footer row bg-white">
          <div class="col-3">
            <ion-icon name="thumbs-up-outline" (click)="likeView(item.post_id)"></ion-icon>
            {{item.like_count}}
          </div>
      </div>
      <div class="card-footer row">
        <div class="col-3 ">

          <ion-icon name="thumbs-up-outline" (click)="likePost(item.post_id)"></ion-icon>
          Like
        </div>
        <div class="col-5 text-center pr-0" (click)="moveToFirst(item.post_id)">
          <ion-icon name="chatbubble-outline"></ion-icon>
          Comment
        </div>

        <div class="col-4 text-right">

          <ng-container *ngIf="item.post_file === null && item.post_video_link == null">
              
            <ion-icon name="arrow-redo-outline" (click)="sendShare(item.post_title, 
            item.post_desc,'')"></ion-icon>
          </ng-container>
          <ng-container *ngIf="item.post_file !== null">

            <ion-icon name="arrow-redo-outline" (click)="sendShare(item.post_title, 
            item.post_desc, path+item.post_file)"></ion-icon>
          </ng-container>
          <ng-container *ngIf="item.post_video_link !== null && item.post_file === null">

            <ion-icon name="arrow-redo-outline" (click)="sendShare(item.post_title, 
       item.post_desc, item.post_video_link)"></ion-icon>
          </ng-container>


          Share

        </div>

      </div>
    </div>
  </ion-virtual-scroll>

  <!-- <div class="card-group" *ngFor="let item of postList">
    <div class="card">
      <ion-card-header class="pb-0 pl-0">
        <ion-item > 
          <ion-avatar slot="start" *ngIf="item.app_user_img === null">
            <img src="../assets/logo.jpg">
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="item.app_user_img !== null">
            <img src="{{this.path+item.app_user_img}}">
          </ion-avatar>
          <ion-label class="ion-text-wrap" color="dark">
            <h3 style="font-weight: 500;">{{item.app_user_name}}</h3>
             <p > {{item.post_date}}</p>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <div class="card-body pl-2 pt-0 pb-1">
        <h5 class="card-title mb-0 mt-0 pt-1 pb-0">{{item.post_title}}</h5>
        <p class="card-text">{{item.post_desc}}</p>
      </div>
      <ng-container *ngIf="item.post_file === null && item.post_video_link == null">
        <img class="card-img-top" src="../../assets/placeholder.jpg">
      </ng-container>
      <ng-container *ngIf="item.post_file !== null">
        <img class="card-img-top" src="{{path+item.post_file}}">
      </ng-container>

      <ng-container *ngIf="item.post_video_link !== null && item.post_file === null" >
        <div class="youtube"  (click)="openvideo(item.post_video_link)"> 
 
          <div class="play-button"></div> 
           
      </div>
      </ng-container>


      <div class="card-footer row bg-white">
          <div class="col-3">
            <ion-icon name="thumbs-up-outline" (click)="likeView(item.post_id)"></ion-icon>
            {{item.like_count}}
          </div>
      </div>
      <div class="card-footer row">
        <div class="col-3 ">

          <ion-icon name="thumbs-up-outline" (click)="likePost(item.post_id)"></ion-icon>
          Like
        </div>
        <div class="col-5 text-center pr-0" (click)="moveToFirst(item.post_id)">
          <ion-icon name="chatbubble-outline"></ion-icon>
          Comment
        </div>

        <div class="col-4 text-right">

          <ng-container *ngIf="item.post_file === null && item.post_video_link == null">
              
            <ion-icon name="arrow-redo-outline" (click)="sendShare(item.post_title, 
            item.post_desc,'')"></ion-icon>
          </ng-container>
          <ng-container *ngIf="item.post_file !== null">

            <ion-icon name="arrow-redo-outline" (click)="sendShare(item.post_title, 
            item.post_desc, path+item.post_file)"></ion-icon>
          </ng-container>
          <ng-container *ngIf="item.post_video_link !== null && item.post_file === null">

            <ion-icon name="arrow-redo-outline" (click)="sendShare(item.post_title, 
       item.post_desc, item.post_video_link)"></ion-icon>
          </ng-container>


          Share

        </div>

      </div>
    </div>
  </div> -->

</ion-content>