<ion-header>
  <ion-toolbar class="background1">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-left">POULTRY KING</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" (click)="goToProfile();" style="font-size: 40px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <span class="already">Scheme List</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="card-group" *ngFor="let item of postList">
    <div class="card" style="margin-bottom: 5px !important;">

      <div class="card-body">
        <h5 class="card-title">{{item.blog_info_name}}</h5>
        <div class="card-text" [innerHTML]="item.blog_details | safeHtml"></div>
      </div>
      <!-- <ng-container
        *ngIf="item.blog_image === null || item.blog_image === ''">
        <img class="card-img-top" src="../../assets/placeholder.jpg">
      </ng-container> -->
      
      <ng-container
        *ngIf="item.blog_image !== null && item.blog_image !== ''">
        <img class="card-img-top" src="{{path+item.blog_image}}">
      </ng-container>
    </div>
  </div>

</ion-content>