<ion-header>
  <ion-toolbar class="background1">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-left">Likes</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-circle-outline" (click)="closeModal();" style="font-size: 35px;margin-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding="true">
  <ion-list>
   <ng-container *ngFor="let item of Likes">

    <ion-item > 
     
      <ion-avatar slot="start" *ngIf="item.app_user_img === null">
        <img src="../../assets/logo.jpg">
      </ion-avatar>
      <ion-avatar slot="start" *ngIf="item.app_user_img !== null">
        <img src="{{'http://lawprotectorsipr.in/poltry/assets/images/app_user/'+item.app_user_img}}">
      </ion-avatar>
      <ion-label class="ion-text-wrap" color="dark">
        <h3 style="font-weight: 500;">{{item.app_user_name}}</h3>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-list>
</ion-content>