<ion-header>
  <ion-toolbar class="background1">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center" *ngIf="!editProfile">Sign Up</ion-title>
    <ion-title class="text-center" *ngIf="editProfile">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-item lines="full" class="mtb" style="--background: #f5f5f5">
      <ion-label position="floating">Enter Name</ion-label>
      <ion-input type="text" formControlName="name" [(ngModel)]="userInfo.name" required></ion-input>
    </ion-item>

    <ion-item lines="full" class="mtb" style="--background: #f5f5f5">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="tel" minlength="10"  [(ngModel)]="userInfo.mobile" formControlName="mobile" required></ion-input>
    </ion-item>

    <ion-item lines="full" class="mtb" style="--background: #f5f5f5" *ngIf="!editProfile">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="number" formControlName="password1" [(ngModel)]="password1" required></ion-input>
    </ion-item>

    <ion-item lines="full" class="mtb" style="--background: #f5f5f5" *ngIf="!editProfile">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="number" formControlName="password2" [(ngModel)]="password2" required></ion-input>
    </ion-item>

    <ion-item lines="full" class="mtb" style="--background: #f5f5f5">
      <ion-label position="floating">Enter DOB</ion-label>
      <ion-datetime displayFormat="MM DD YY" formControlName="dob"  [(ngModel)]="userInfo.dob"></ion-datetime>
    </ion-item>

    <ion-item style="--background: #f5f5f5">
      <ion-label position="floating">County</ion-label>
      <ion-select placeholder="Select One" (ionChange)="countryChange()" formControlName="country"
        [(ngModel)]="country">

        <ng-container *ngFor="let country of countyList">
          <ion-select-option value="{{country.country_id}}">{{country.country_name}}</ion-select-option>
        </ng-container>

      </ion-select>
    </ion-item>

    <ion-item style="--background: #f5f5f5">
      <ion-label position="floating">State</ion-label>
      <ion-select placeholder="Select One" formControlName="state" [(ngModel)]="state" (ionChange)="stateChange()">

        <ng-container *ngFor="let state of stateList">
          <ion-select-option value="{{state.state_id}}">{{state.state_name}}</ion-select-option>
        </ng-container>

      </ion-select>
    </ion-item>
    <ion-item style="--background: #f5f5f5">
      <ion-label position="floating">City</ion-label>
      <ion-select placeholder="Select One" formControlName="dist"  [(ngModel)]="userInfo.dist">

        <ng-container *ngFor="let district of districtList">
          <ion-select-option value="{{district.district_id}}">{{district.district_name}}</ion-select-option>
        </ng-container>

      </ion-select>
    </ion-item>

    <ion-item class="mtb" style="--background: #f5f5f5">
      <ion-label position="floating">About Yourself</ion-label>
      <ion-textarea formControlName="about"></ion-textarea>
    </ion-item>

    <ion-item class="mtb" lines="none" style="--background: #f5f5f5" *ngIf="!editProfile">
      <ion-checkbox formControlName="terms" ></ion-checkbox>
      <ion-label style="margin-left: 4px;">I Accept Tearms & Conditions</ion-label>

    </ion-item>

    <ion-row>
      <ion-col>
        <div class="form-group">
          <div class="text-danger text-center">{{errorMsg}}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button type="submit" class="block"  style="border-radius: 20px 20px 20px 20px">submit</button>
        <!-- <ion-button type="submit" style="height: 50px" color="success" expand="block" size="large">submit</ion-button> -->
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col>
          <button type="button" class="block" [routerLink]="['']" style="border-radius: 20px 20px 20px 20px">cancel</button>
        </ion-col>
      </ion-row>
  </form>
</ion-content>